 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

 body {
     background-color:white; 
     margin: 0;
 }

 p {
     color: black;
     font-family: Roboto, Arial;
     margin-top: 0;
     margin-bottom: 0;
 }